/*canvas {*/
/*    height: 50%;*/
/*}*/

body {
    background: black;
    text-align: center;
}

canvas {
    height: 80vh;
}

div {
    text-align: center;
}

div#docLog {
    font-family: monospace;
    color: white;
}
